.blogPostCard {
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;
  max-width: 335px;
  margin: 40px 20px;
  width: 20%;
  cursor: pointer;
  border-radius: 15px;
  background-color: #fff;
}

.blogPostCard .imgContainer img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
}

.blogPostCard .linkContainer {
  margin: 20px 0;
  text-align: center;
}

.blogPostCard .titleContainer {
  padding: 15px;
}

.blogPostCard .titleContainer h2 {
  margin: 10px 0;
}
.blogPostCard .titleContainer p {
  margin: 10px 0;
}

.blogPostCard .link {
  text-decoration: none;
  color: #205346;
}

.lpPostsContainer {
  /* width: 18%; */

  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.lpPostsContainer .imgContainer {
  margin-bottom: 0;
  width: fit-content;
}

.lpPostsContainer img {
  max-width: 250px;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 0;
}

.lpPostsContainer h2 {
  font-size: 20px;
  margin-top: 0;
}

.lpPostsContainer .link {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .lpPostsContainer img {
    height: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .lpPostsContainer img {
    max-width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .blogPostCard .blogPostCard {
    max-width: 500px;
  }
  .blogPostCard .imgContainer img {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .blogPostCard .imgContainer img {
    height: 200px;
  }
}
