.blogPosts {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8ecde;
  padding: 40px;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .blogPosts {
    padding: 40px 0;
  }
}
