.advantages {
  display: flex;
  flex-direction: column;
  background-color: #f8ecde;

  padding-top: 20px;
}

.advantagesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
  align-items: center;
}

.advantagesContainer img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.advantagesContainer h2 {
  font-size: 60px;
  line-height: 90%;
}

.advantagesContainer p {
  font-size: 18px;
}

.advantagesContainer div {
  width: 48%;
}

@media screen and (max-width: 1024px) {
  .advantagesContainer {
    padding: 50px 40px;
  }
  .advantagesContainer h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .advantagesContainer {
    flex-direction: column;
    padding: 50px 20px;
  }
  .advantagesContainer h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .advantagesContainer p {
    font-size: 16px;
    margin-top: 8px;
  }
  .advantagesContainer img {
    height: 100%;
    width: 100%;
    min-height: 220px;
  }
}

@media screen and (max-width: 600px) {
  .advantagesContainer {
    flex-direction: column;
    padding: 40px 20px;
  }

  .advantagesContainer div {
    width: 100%;
  }

  .advantagesContainer:nth-of-type(odd) {
    display: flex;
    flex-direction: column-reverse;
  }
}
