.featuresCard {
  height: 100vh;
  background-color: #205346;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 40px 40px;

  height: fit-content;
}

/* @media screen and (max-width: 600px) {
  .featuresCard {
    flex-direction: column;
    padding: 0 20px;
  }
} */
