.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #fff;
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.mainLogo {
  width: 130px;
  cursor: pointer;
}

.navItems {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
}

.navItem {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navItem:hover {
  transition: 0.5s;
  color: #02928e;
}

.activeItem {
  color: #02928e;
  cursor: pointer;
  text-decoration: none;
}

.menuIcon {
  font-size: 40px;
}

.mobileNavButton {
  display: none;
}

.mobileNav {
  display: flex;
  background: rgb(255, 255, 255, 0.9);
  height: 100vh;
  width: 40vw;
  position: absolute;
  right: 0;
  top: 10vh;
  z-index: 50;
  position: fixed;
  transition: all 0.5s;
}

.mobileNavItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 25px;
  font-size: 20px;
  margin-top: 40px;
  transition: all 0.5s;
}

.closeIcon {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .mainNav {
    display: none;
  }
  .mobileNavButton {
    display: inline-block;
  }
  .mobileNav {
    display: inline-block;
  }
}
