.default-section {
  display: flex;
  max-width: 1440px;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin: 100px auto;
}

.component-section-hero {
  background-color: var(--secondary-color);
  height: 87vh;
  margin: 0 auto;
  gap: 30px;
}

.component-section-features {
  align-items: flex-start;
  gap: 50px;
  justify-content: center;
}

.component-section-lp-advantages {
  width: 100vw;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.932) -10%,
    #33d0b1 99%
  );
  padding: 0;
  position: relative;
}

.component-section-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.component-section-lp-posts {
  gap: 40px;
  background: var(--secondary-color);
  padding: 100px;
  margin-bottom: 0;
}

.component-section-questions {
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .default-section {
    padding: 30px;
  }
}

@media only screen and (max-width: 792px) {
  .component-section-damage {
    display: flex;
    flex-direction: column;
  }
  .component-section-hero {
    background-color: var(--primary-color);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../assets/family-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
  }
}
